* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  margin: 50px 25px;
  background-color: #ececec;
}

.Columns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Column {
  flex-basis: 25%;
  margin-right: 25px;
}

.Columns-container > .Column:nth-of-type(4) {
  margin-right: 0;
}

.Column-header {
  height: 30px;
  padding: 4px;
  color: white;
}

.Column:nth-of-type(1) .Column-header {
  background-color: #8E6E95;
}

.Column:nth-of-type(2) .Column-header {
  background-color: #39A59C;
}

.Column:nth-of-type(3) .Column-header {
  background-color: #344759;
}

.Column:nth-of-type(4) .Column-header {
  background-color: #E8741E;
}

.Card {
  padding: 8px;
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.Card > button {
  border: none;
}

.Card span {
  padding: 12px;
}
